body {
    color: white;
    background: pink;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color:rgb(172, 104, 205)
}

section {
    background: rgb(255, 45, 97)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {

}

.categoria h2 {
    color: rgb(255, 45, 97)
}

img {
  height: 200px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
}
